<!DOCTYPE html>
<html>
<head>
    <title>Agency Requests</title>
</head>
<body>

<h1>Agency Requests</h1>
<button>
    <a href="{% url 'agency_create' %}">CREATE REQUEST</a>
</button>
<table border="1">
    <thead>
        <tr>
            <th>ECGAINS</th>
            <th>Agency Name</th>
            <th>Has Bids?</th>
            <th>Developer</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for agency_info in agencies_object %}
            <tr>
                <td>{{ agency_info.ecgains }}</td>
                <td>{{ agency_info.agency_name }}</td>
                <td>{{ agency_info.has_bids }}</td>
                <td>{{ agency_info.developer }}</td>
                <td>{{ agency_info.url }}</td>
                <td>
                    <a href = '{% url "update_agency" agency_info.pk %}'>
                        Update
                    </a>
                    <a href = '{% url "delete_agency" agency_info.pk %}'>
                        DELETE
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No agency requests found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>